.p-x-10{
    padding:10px;
}

.p-t-10{
    padding-top:10px;
}

.table-cell{
    display:table-cell;
}

.sidebar-content{
    width:260px;
}

.sidebar-xs {
  > .sidebar-content {
    width: inherit;
  }
}


  @media screen and (min-width: 769px) {
    .sidebar-content{
      width:auto;
    }
  }
  .content{
    padding:0 10px 60px;
  }


  .validation-invalid{
    color:#ff0000;
  }

  .validation-valid{
    color:green;
    display:none;
  }

  form.ng-invalid{border:0px;}
  .ng-invalid{
    border:1px solid #ff0000;
  }

  /*.ng-valid{ border:1px solid green;}*/

  textarea{
    resize: vertical;
  }

  .navbar-brand.h2{
    font-size:21px;
    font-weight:600;
  }



  /* SVG styles */
  rect.wrapper
  {
    fill: none;
  }
  .hover rect.wrapper
  {
    fill: rgba(255, 102, 0, 0.3);
  }
  text
  {
    /* font: 12px 'PT Sans Narrow',sans-serif; */
    fill: black;
  }
  text.bbox_hack
  {
    font: 24px 'Rock Salt',sans-serif;
  }
  .tags_in_stream text
  {
    fill: white;
    /* fill: red;      -- use this while debugging the graphic placement of the in-stream tags */
  }
  svg
  {
    font: 14px 'PT Sans Narrow',sans-serif;
  }

  .row{
    > div:first-child.col-md-6{
      padding-top:0px;
    }
  }

  #chart,
  .chart{
    position:relative; border:1px solid #ddd; display:block;
    width:98%}

.chartTooltip{
  position: absolute;
  background: #fff;
  padding: 5px;
  border: 1px solid #bbb;
  color: #000;
  font: 11px Arial,Tahoma,sans-serif;
  -moz-box-shadow: 3px #eee;
  -webkit-box-shadow: 0px 0px 3px 1px #ddd;
  box-shadow: 0px 0px 3px 1px #ddd;
  display: none;
  -moz-transition:  top .5s,left .5s;
  -webkit-transition:  top .5s,left .5s;
  transition: top .5s,left .5s;
}

.axis path {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Lato;
  font-size: 13px;
}


/***** SVG Loader CSS *********/

#loader {
  position: absolute;
  margin: 50px auto;
  width: 150px;
}

.loader {
  position: absolute;
  opacity: .7;
}

.loader circle {
  animation: draw 4s infinite ease-in-out;
  transform-origin: center;
  transform: rotate(-90deg);
}

.loader-2 circle,
.loader-6 circle {
  animation-delay: 1s;
}

.loader-7 circle {
  animation-delay: 2s;
}

.loader-4 circle,
.loader-8 circle {
  animation-delay: 3s;
}

.loader-3 {
  left: -150px;
  transform: rotateY(180deg);
}

.loader-6,
.loader-7,
.loader-8 {
  left: -150px;
  transform: rotateX(180deg) rotateY(180deg);
}

.loader-5 circle {
  opacity: .2;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
    transform: scale(.5);
  }
}

.content-wrapper{
  width:auto;
}

.div-table{
  display:table;
}

.tabs{
    a{
      color:#000;
      font-size:14px;
      text-transform: uppercase;
      padding:10px 20px;
      display:inline-block;
      border: 1px solid #ddd;
      border-width: 1px 1px 0;
    }
}

