@font-face {
    font-family: 'Roboto';
    src: url('RobotoThin/Roboto-Thin-webfont.eot');
    src: url('RobotoThin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('RobotoThin/Roboto-Thin-webfont.woff') format('woff'),
    url('RobotoThin/Roboto-Thin-webfont.ttf') format('truetype'),
    url('RobotoThin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoRegular/Roboto-Regular-webfont.eot');
    src: url('RobotoRegular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('RobotoRegular/Roboto-Regular-webfont.woff') format('woff'),
    url('RobotoRegular/Roboto-Regular-webfont.ttf') format('truetype'),
    url('RobotoRegular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}



